.iframe-container {
  overflow: hidden;
  padding-top: 919%; 
  position: relative;
  height: 0;
  width: 100%;
}

.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}

body {
  background-color: #004040;
}

#myBtn {
  display: none; 
  position: fixed; 
  bottom: 20px; 
  right: 30px; 
  z-index: 99;
  border: none;
  outline: none;
  background-color: #bda472;
  color: #004040;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  font-size: 12px;
}

#myBtn:hover {
  background-color: #dae2e4;
}
